.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    border-radius: 8px;
    padding: 10px;
}

.input-group {
    border-radius: 8px;
    padding: 3px;
    margin-bottom: 3px;
}

.input-group-text:hover {
    background-color: #ffd700;
}

.input-group-text {
    background-color: #C6AA64;
}

.bg-gold {
    background-color: #C6AA64;
}

.bg-light-gold {
    background-color: #ffd700;
}

.btn-gold {
    background-color: #C6AA64;
    color: #333333;
}

.btn-gold:hover {
    background-color: #ffd700;
    color: #333333;
}

.is-invalid {
    border-color: #dc3545;
}

.heading-text {
    font-family: 'Alkatra', cursive;
}

.error-list {
    color: red;
    list-style-type: disc;
    margin-top: 5px;
    padding-left: 20px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #ffd700;
}

.custom-checkbox:checked {
    background-color: #ffd700;
    box-shadow: none;
}

.custom-checkbox {
    box-shadow: none;
    border-color: black;
}

/* Default font size */
.text{
  font-size: 15px;
}

/* Font size for medium-sized screens (md) and above */
@media (min-width: 768px) {
  .text {
    font-size: 18px;
  }
}

.heading-text {
    font-family: 'Alkatra', cursive;
}
