<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <img src="https://i.imgur.com/M5KeEPd.png" height="40" alt="Noorie's Corner">
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a routerLink="/" class="nav-item nav-link active">Home</a>
        <a routerLink="/amazon/products" class="nav-item nav-link active">Amazon</a>
        <a routerLink="/meesho/products" class="nav-item nav-link active">Meesho</a>
      </div>
      <div class="navbar-nav ms-auto" *ngIf="isLoggedIn">
        <a class="nav-item nav-link active" routerLink="/user/profile"><i
            class="fi-cnsuxl-user-circle-solid"></i>{{userName}}</a>
      </div>
      <div class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
        <a class="nav-item nav-link active" routerLink="user/register"><i class="fi-snsuxl-user-plus-solid"></i> Sign
          Up</a>
        <a class="nav-item nav-link active" routerLink="user/login"><i class="fi-swsuxl-sign-in-solid"></i> Login</a>
      </div>
    </div>
  </div>
</nav>