<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <img src="https://i.imgur.com/M5KeEPd.png" height="40" alt="Noorie's Corner">
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a routerLink="/" class="nav-item nav-link" (click)="currentPage='home'"
          [ngClass]="currentPage=='home'?'active':'text-light'">Home</a>
        <a routerLink="/amazon/products" class="nav-item nav-link" (click)="currentPage='amazon'"
          [ngClass]="currentPage=='amazon'?'active':'text-light'">Amazon</a>
        <a routerLink="/meesho/products" class="nav-item nav-link" (click)="currentPage='meesho'"
          [ngClass]="currentPage=='meesho'?'active':'text-light'">Meesho</a>
      </div>
      <div class="navbar-nav ms-auto" *ngIf="isLoggedIn">
        <div class="dropdown dropdown-center me-md-5">
          <button class="btn btn-outline-light dropdown-toggle text-gold" type="button" id="userDropdown" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ userName }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" routerLink="/user/profile">User Profile</a></li>
            <li><a class="dropdown-item" routerLink="/user/favourites">Favourites</a></li>
            <li><button class="dropdown-item" (click)="logout()" type="button">Logout</button></li>
          </ul>
        </div>
      </div>
      <div class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
        <a class="nav-item nav-link" (click)="currentPage='login'"
          [ngClass]="currentPage=='login'?'active':'text-light'" routerLink="user/login">
          Login</a>
        <a class="nav-item nav-link" (click)="currentPage='signup'"
          [ngClass]="currentPage=='signup'?'active':'text-light'" routerLink="user/signup">
          Sign Up</a>
      </div>
    </div>
  </div>
</nav>