<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <img src="https://i.imgur.com/M5KeEPd.png" height="40" alt="Noorie's Corner">
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a #homeLink [ngClass]="{'text-light': !homeLink.classList.contains('active')}" routerLink="/"
          class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a #amazonLink [ngClass]="{'text-light': !amazonLink.classList.contains('active')}"
          routerLink="/amazon/products" class="nav-item nav-link" routerLinkActive="active">Amazon</a>
        <a #meeshoLink [ngClass]="{'text-light': !meeshoLink.classList.contains('active')}"
          routerLink="/meesho/products" class="nav-item nav-link" routerLinkActive="active">Meesho</a>
      </div>
      <div class="navbar-nav ms-auto" *ngIf="isLoggedIn">
        <div class="dropdown dropdown-center me-md-5">
          <button class="btn btn-outline-light dropdown-toggle text-gold" type="button" id="userDropdown"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ userName }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" routerLink="/user/profile">User Profile</a></li>
            <li><a class="dropdown-item" routerLink="/user/favourites">Favourites</a></li>
            <li><button class="dropdown-item" (click)="logout()" type="button">Logout</button></li>
          </ul>
        </div>
      </div>
      <div class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
        <a #loginLink class="nav-item nav-link" [ngClass]="{'text-light': !loginLink.classList.contains('active')}"
          routerLinkActive="active" routerLink="user/login">
          Login</a>
        <a #signUpLink class="nav-item nav-link" [ngClass]="{'text-light': !signUpLink.classList.contains('active')}"
          routerLinkActive="active" routerLink="user/signup">
          Sign Up</a>
      </div>
    </div>
  </div>
</nav>