<ng-template #modalContent let-modal>
    <div class="modal-header dark-modal">
        <h4 class="modal-title text-gold">Registration Successful</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true" class="text-gold">&times;</span>
        </button>
    </div>
    <div class="modal-body text-gold">
        <p>{{ message }}</p>
    </div>
    <div class="modal-footer dark-modal">
        <button type="button" class="btn btn-primary" (click)="navigateToProfile()">Navigate to Profile Page</button>
        <button type="button" class="btn btn-secondary" (click)="navigateToHome()">Navigate to Home Page</button>
    </div>
</ng-template>