/* modal.component.css */

.dark-modal .modal-content {
    background-color: #333333;
    color: #ffd700; /* Gold color */
  }
  
  .dark-modal .modal-header {
    background-color: #333333;
    border-bottom: 1px solid #ffd700; /* Gold color */
    color: #ffd700; /* Gold color */
  }
  
  .dark-modal .modal-title {
    color: #ffd700; /* Gold color */
  }
  
  .dark-modal .modal-body {
    color: #ffd700; /* Gold color */
  }
  
  .dark-modal .modal-footer {
    background-color: #333333;
  }
  
  .dark-modal .btn-primary {
    background-color: #ffd700; /* Gold color */
    color: #333333;
  }
  
  .dark-modal .btn-primary:hover {
    background-color: #e5c100; /* Darker gold color on hover */
    color: #333333;
  }
  
  .dark-modal .btn-secondary {
    background-color: #333333;
    border: 1px solid #ffd700; /* Gold color */
    color: #ffd700; /* Gold color */
  }
  
  .dark-modal .btn-secondary:hover {
    background-color: #ffd700; /* Gold color */
    border: 1px solid #ffd700; /* Gold color */
    color: #333333;
  }
  
  .close {
    color: #ffd700; /* Gold color */
  }
  