<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Forgot Password</h2>
            <form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>
<app-alert [errorMessage]="errorMessage" [type]="'alert-danger'" *ngIf="!isLoading && emailError"></app-alert>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Password Reset Email Sent</h1>
            </div>
            <div class="modal-body">
                An email has been sent to your registered email address with instructions on how to reset your
                password.
                Please check your inbox and follow the steps provided in the email. If you don't receive an email,
                please
                check your spam folder or contact our support team for assistance.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-gold" (click)="closeModal()">Ok</button>
            </div>
        </div>
    </div>
</div>