<app-spinner *ngIf="isLoading"></app-spinner>

<div *ngIf="!isLoading && !isError" class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <h2 class="text-center">Forgot Password</h2>
            <form (ngSubmit)="forgotPassword()" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-gold mt-2">Reset Password</button>
            </form>
        </div>
    </div>
</div>

<div *ngIf="!isLoading && emailError" class="row justify-content-center mt-2">
    <app-alert class="col-md-6" [errorMessage]="errorMessage" [type]="'alert-danger'"></app-alert>
</div>

<div class="modal fade show" [ngStyle]="{'display':displayStyle}" id="staticBackdrop" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Password Reset Email Sent</h1>
            </div>
            <div class="modal-body">
                <p>An email has been sent to your registered email address with instructions on how to reset your
                    password.</p>
                <p>Please check your inbox and follow the steps provided in the email. </p>
                <p>If you don't receive an email, please check your spam folder or contact our support team for
                    assistance.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-gold" (click)="closeModal()">Ok</button>
            </div>
        </div>
    </div>
</div>