<app-spinner *ngIf="isLoading"></app-spinner>

<div *ngIf="!isLoading && !isError" class="container register-update-page  mt-3">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 mt-1">
            <h2 class="heading-text text-center">{{formName}}</h2>
            <div>
                <div class="row">
                    <div class="col-md-7 pe-0">
                        <div class="form-left py-2 px-5">
                            <form [formGroup]="userForm" class="register-update-form row g-4" (ngSubmit)="onSubmit()">

                                <div class="col-12">
                                    <label class="text-dark" for="name">Name<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-text bg-gold"><i class="bi bi-person-fill"></i></div>
                                        <input type="text"
                                            [ngClass]="{'is-invalid': userForm.controls['name'].invalid && userForm.controls['name'].touched}"
                                            class="form-control" id="name" formControlName="name"
                                            (blur)="validateField('name')" required>
                                        <div class="invalid-feedback"
                                            *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched">
                                            <div *ngIf="userForm.controls['name'].errors?.['required']">Name is
                                                required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label class="text-dark" for="age">Age<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-text bg-gold"><i class="bi bi-person-fill"></i></div>
                                        <input type="number"
                                            [ngClass]="{'is-invalid': userForm.controls['age'].touched && userForm.controls['age'].invalid}"
                                            class="form-control" id="age" formControlName="age"
                                            (blur)="validateField('age')" required>
                                        <div class="invalid-feedback"
                                            *ngIf="userForm.controls['age'].invalid && userForm.controls['age'].touched">
                                            <div *ngIf="userForm.controls['age'].errors?.['required']">Age is required
                                            </div>
                                            <div *ngIf="userForm.controls['age'].errors?.['min']">Age must be at least
                                                13 years old.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label class="text-dark" for="email">Email<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-text bg-gold"><i class="bi bi-envelope-at"></i></div>
                                        <input type="email"
                                            [ngClass]="{'is-invalid': userForm.controls['email'].invalid && userForm.controls['email'].touched}"
                                            class="form-control" id="email" formControlName="email"
                                            (blur)="validateField('email')" required>
                                        <div class="invalid-feedback"
                                            *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
                                            <div *ngIf="userForm.controls['email'].errors?.['required']">Email is
                                                required.</div>
                                            <div *ngIf="userForm.controls['email'].errors?.['email']">Invalid email
                                                address.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label class="text-dark" for="password">Password<span
                                            class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-text bg-gold"><i class="bi bi-lock-fill"></i></div>
                                        <input type="password"
                                            [ngClass]="{'is-invalid': userForm.controls['password'].invalid && userForm.controls['password'].touched}"
                                            class="form-control" id="password" formControlName="password"
                                            (blur)="validateField('password')" required>
                                        <div class="invalid-feedback"
                                            *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched  && userForm.controls['password'].dirty">
                                            <div *ngIf="userForm.controls['password'].errors?.['required']">Password is
                                                required.</div>
                                            <ul class="error-list"
                                                *ngIf="userForm.controls['password'].errors?.['pattern']">
                                                <li>Must contain at least one digit.</li>
                                                <li>Must contain at least one lowercase letter.</li>
                                                <li>Must contain at least one uppercase letter.</li>
                                                <li>Must contain at least one special character.</li>
                                                <li>Must be 8-20 characters long.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="submit"
                                        class="btn btn-gold px-4 float-end mt-2">{{buttonName}}</button>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="col-md-5 ps-0 d-none d-md-block">
                        <div class="form-right text-white text-center pt-5">
                            <img class="col-lg-12 mt-2" height="300px" src="https://i.imgur.com/3crxEV5.png">
                        </div>
                    </div>
                </div>
            </div>

            <app-alert [errorMessage]="errorMessage" *ngIf="!isLoading && registerUpdateFailure"></app-alert>
        </div>
    </div>
</div>

<app-server-error *ngIf="isError" [statusCode]="errorStatusCode"></app-server-error>