<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <h1 class="display-1">404</h1>
                <h2>Error: Page Not Found!</h2>
                <p class="lead">The page you are looking for could not be found. Please check the URL and try again.</p>
                <a routerLink="/" class="btn btn-dark">Go back to Home</a>
                <button (click)="goBack()" class="btn btn-secondary">Go back to Previous Page</button>
            </div>
        </div>
    </div>
</div>