<div *ngIf="!isError && !isLoading" class="card">
  <h2 class="bg-dark text-light text-center p-2">
    <i class="fi-cnsuxl-user-circle-solid"></i> User Profile
  </h2>
  <div class="row">
    <div class="col">
      <div class="card1">
        <img [src]="imageUrl" alt="Avatar" style="width: 80%;" class="img-fluid rounded">
        <div class="p-2">
          <button class="btn btn-dark" (click)="changeAvatar()">Change Avatar</button>
          <div *ngIf="showFileInput" class="mt-2">
            <label for="filebutton"><strong>{{imageText}}</strong></label>
            <div class="form-control">
              <input name="filebutton" type="file" (change)="fileChangeEvent($event)">
              <span class="input-group-btn">
                <button type="button" class="btn btn-dark" (click)="upload()">
                  <i class="fi-xnsuxl-upload-solid"></i> Upload
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card1 mt-2">
        <h1>{{user.name}}</h1>
        <p class="title"><strong>Age:</strong> {{user.age}}</p>
        <p class="title">{{user.email}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><button class="btn btn-dark text-light" (click)="logoutAll()">Logout All Devices</button></li>
          <li class="list-group-item"><a class="btn btn-warning text-light" routerLink="/edit-profile">Edit Account</a></li>
          <li class="list-group-item"><button class="btn btn-danger" (click)="deleteAccount()">Delete Account</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
