<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                        [(ngModel)]="newPassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                        [(ngModel)]="confirmPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>

<app-alert [errorMessage]="errorMessage" [type]="'alert-danger'" *ngIf="!isLoading && passwordExpiredError"></app-alert>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Password Reset</h1>
            </div>
            <div class="modal-body">
                Your password reset was successful! Click "OK" to go to login page.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-gold">Ok</button>
            </div>
        </div>
    </div>
</div>