<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Password Reset</h2>
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required
                        minlength="8">
                    <div *ngIf="resetForm.controls['newPassword'].touched">
                        <p *ngIf="resetForm.controls['newPassword'].hasError('required')" class="text-danger">
                            New password is required.
                        </p>
                        <p *ngIf="resetForm.controls['newPassword'].hasError('minlength')" class="text-danger">
                            Password must be at least 8 characters long.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                        required minlength="8">
                    <div *ngIf="resetForm.controls['confirmPassword'].touched">
                        <p *ngIf="resetForm.controls['confirmPassword'].hasError('required')" class="text-danger">
                            Confirmation password is required.
                        </p>
                        <p *ngIf="resetForm.hasError('mismatch')" class="text-danger">
                            Passwords do not match.
                        </p>
                    </div>
                </div>
                <p class="text-info">Choose a new password for your account and confirm it.</p>
                <p class="text-danger">Note: Passwords must be at least 8 characters long and include both letters and
                    numbers.</p>
                <button type="submit" class="btn btn-gold" [disabled]="resetForm.invalid || resetForm.pending">Reset
                    Password</button>
            </form>
        </div>
    </div>
</div>

<app-alert [errorMessage]="errorMessage" [type]="'alert-danger'" *ngIf="!isLoading && passwordExpiredError"></app-alert>

<div class="modal fade show" [ngStyle]="{'display':displayStyle}" id="staticBackdrop" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Password Reset Email Sent</h1>
            </div>
            <div class="modal-body">
                <p>You have successfully changed your password.</p>
                <p>Click 'OK' to go to the login page and use your email and new password to login and continue using
                    our website.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-gold" (click)="closeModal()">Ok</button>
            </div>
        </div>
    </div>
</div>