<app-spinner *ngIf="isLoading"></app-spinner>

<form *ngIf="!isLoading" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>
    Email
    <input type="email" formControlName="email" required>
  </label>

  <label>
    Password
    <input type="password" formControlName="password" required>
  </label>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>


<div *ngIf="loginFailure" class="alert alert-danger">
  Login failed. Please check your credentials and try again.
</div>