a {
    text-decoration: none;
}

.login-page {
    width: 100%;
    height: 90vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

.form-right i {
    font-size: 100px;
}

.fs-2 {
    font-family: 'Alkatra', cursive;
}