<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <h1 class="display-1">{{statusCode}}</h1>
                <h2>{{errorHeading}}</h2>
                <p class="lead">{{errorInfo}}</p>
                <a routerLink="/" class="btn btn-dark">Go back to Home</a>  
                <button (click)="goBack()" class="btn btn-secondary ms-2">Go back to Previous Page</button>
            </div>
        </div>
    </div>
</div>